.restaurant-card {
  display: flex;
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
}

.restaurant-card:hover {
  background-color: #eee;
}

.photo {
  width: 200px;
  margin-right: 1em;
}

.restaurant-info {
  display: none;
}

.modal {
  display: none;
  width: 80%;
  height: 80%;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0 15px -2px #666;
  padding: 1em;
  position: fixed;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
}

.inside-restaurant-info {
  padding: 1em;
    overflow: auto;
}
.modal-open {
  display: block;
}

.close-modal {
  background: linear-gradient(to right, 
  red 20%, orange 20% 40%, yellow 40% 60%, green 60% 80%, blue 80%);
  color: white;
  padding: .5em;
}
