.restaurant-card {
  display: flex;
  padding: 1em 0;
  border-bottom: 4px solid #ddd;
  border-top: 4px solid #ddd;
  border-radius: 30px;
  padding: 5px;
  margin-bottom: 15px;
}

.content{
  display: 100%;
}

.restaurant-card:hover {
  background-color: #eee;
}

.photo {
  border-radius: 20px;
  padding: 10px;
  width: 175px;
  max-height: 200px;
  margin-right: 1em;
}

.button{
  padding: 5px;
  background-color: white;
  border-radius:10px;
}

.button:hover {
  background-color: #eee;
}

.card-text{
  text-align: center;
}

.restaurant-info {
  display: none;
}

.modal {
  display: none;
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0 15px -2px #666;
  padding: 1em;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  margin-top: -125px;
  margin-left: -125px;
}

.modal-open {
  display: block;
}
